/* Estilo global da aplicação */
body {
  margin: 0; /* Remove a margem padrão */
  font-family: 'Orbitron', sans-serif; /* Fonte futurista para o tema Rainbow Six */
  background-color: #111; /* Cor de fundo escura */
  color: #fff; /* Cor do texto branca para bom contraste */
  -webkit-font-smoothing: antialiased; /* Suavização de fontes no WebKit */
  -moz-osx-font-smoothing: grayscale; /* Suavização de fontes no Firefox */
}

/* Estilo de fontes e tamanho para o código */
code {
  font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Estilo para a aplicação */
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin; /* Ajuste o tamanho do logo */
  pointer-events: none; /* Impede interações com o logo */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /* Animação de rotação */
  }
}

/* Estilo do cabeçalho */
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); /* Ajuste responsivo do tamanho da fonte */
  color: #fff; /* Cor do texto no cabeçalho */
}

/* Estilo dos links */
.App-link {
  color: #ff3d00; /* Cor vibrante associada ao tema */
  font-size: 20px;
  text-decoration: none;
}

.App-link:hover {
  color: #fff; /* Cor branca ao passar o mouse */
}

/* Animação de rotação do logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1800deg); /* A rotação do logo será mais rápida */
  }
}
